name: "Test"
on:
  push:
    branches:
    - master
  pull_request:
permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - name: Harden the runner (Audit all outbound calls)
      uses: step-security/harden-runner@0634a2670c59f64b4a01f0f96f84700a4088b9f0 # v2.12.0
      with:
        egress-policy: audit

    - uses: actions/checkout@50fbc622fc4ef5163becd7fab6573eac35f8462e # v1.2.0
    - uses: actions/setup-node@f1f314fca9dfce2769ece7d933488f076716723e # v1.4.6
      with:
        node-version: "12"
    - name: "Install dependencies"
      run: npm install
    - name: "Lint sources"
      run: npm run lint:sources -- --max-warnings 0
    - name: "Lint types"
      run: npm run lint:types
  build:
    runs-on: ubuntu-latest
    needs: lint
    steps:
    - name: Harden the runner (Audit all outbound calls)
      uses: step-security/harden-runner@0634a2670c59f64b4a01f0f96f84700a4088b9f0 # v2.12.0
      with:
        egress-policy: audit

    - uses: actions/checkout@50fbc622fc4ef5163becd7fab6573eac35f8462e # v1.2.0
    - uses: actions/setup-node@f1f314fca9dfce2769ece7d933488f076716723e # v1.4.6
      with:
        node-version: "12"
    - name: "Install dependencies"
      run: npm install
    - name: "Build distribution files"
      run: npm run build
  test:
    runs-on: ubuntu-latest
    needs: build
    strategy:
      matrix:
        node_version: ["4", "4.3.2", "6", "8", "10", "12"]
    steps:
    - name: Harden the runner (Audit all outbound calls)
      uses: step-security/harden-runner@0634a2670c59f64b4a01f0f96f84700a4088b9f0 # v2.12.0
      with:
        egress-policy: audit

    - uses: actions/checkout@50fbc622fc4ef5163becd7fab6573eac35f8462e # v1.2.0
    - uses: actions/setup-node@f1f314fca9dfce2769ece7d933488f076716723e # v1.4.6
      with:
        node-version: ${{ matrix.node_version }}
    - name: "Install dependencies"
      run: npm install
    - name: "Test sources"
      run: npm run test:sources
    - name: "Test types"
      run: npm run test:types
  bench:
    runs-on: ubuntu-latest
    needs: build
    steps:
    - name: Harden the runner (Audit all outbound calls)
      uses: step-security/harden-runner@0634a2670c59f64b4a01f0f96f84700a4088b9f0 # v2.12.0
      with:
        egress-policy: audit

    - uses: actions/checkout@50fbc622fc4ef5163becd7fab6573eac35f8462e # v1.2.0
    - uses: actions/setup-node@f1f314fca9dfce2769ece7d933488f076716723e # v1.4.6
      with:
        node-version: "12"
    - name: "Install dependencies"
      run: npm install
    - name: "Run benchmark"
      run: npm run bench
